<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eldad.corem.exercises">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".lessonTwo"
            android:label="Eldad&apos;s Simple Calculator" />
        <activity
            android:name=".calculate"
            android:label="Result" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".lessonThree"
            android:label="Constraint layouts" />
        <activity
            android:name=".lessonThreeB"
            android:label="Constraint layouts" />
        <activity
            android:name=".lessonThreeC"
            android:label="Constraint layouts" />
        <activity
            android:name=".MyBirthdays"
            android:label="Birthdays application" />
        <activity
            android:name=".addBirthday"
            android:label="Add a birthday" />
        <activity
            android:name=".birthdayInfo"
            android:label="Details" />
        <activity
            android:name=".MySettingsActivity"
            android:label="Settings" />
        <activity
            android:name=".lessonSix"
            android:label="CustomView"
            />
    </application>

</manifest>